<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    angryCatLogo: "<%= image_path("angry_cat.png") %>"
  }

  window.US_STATES = <%=raw Event::US_STATES %>
</script>


<div id="root"></div>
