<p>Not a member? <%= link_to "Sign Up", new_user_url %></p>

<form action="<%= session_url %>" method="post">
  <fieldset>
    <%= form_auth_token %>
    <legend>Sign In</legend>

    <label for="user_username">Username</label>
    <input id="user_username" type="text" name="user[username]" placeholder="enter your username">

    <label for="user_password">Password</label>
    <input id="user_password" type="password" name="user[password]" placeholder="enter your password">

    <button type="submit">Sign In</button>
  </fieldset>
</form>
