$main: #ff0080;
$white: #fff;
$light-gray: #e9e8e9;
$shiny-gray: #dbdbdf;
$dark-gray: #858785;
$black: #000;
$navy: #0415b0;

$accept: #0cb90e;
$accept-border: #068808;
$ignore: #f73440;
$ignore-border: #c1262f;

$error-flash: #fa939a;
