$main: #FF5A5F;
$white: #fff;
$background: #f4f5fc;
$short-idea-background: #fefefe;
$short-idea-title: #FF5A5F;


$light-gray: #e9e8e9;
$shiny-gray: #dbdbdf;
$dark-gray: #858785;
$black: #484848;
$navy: #0415b0;
$light-navy: #0017e6;

// MT's color scheme
$orange: #fc6039;
$dark-blue: #074e65;
$dark-green: #0f6a88;
$sky-blue: #65b9ec;
$yellow: #fabd43;
$border-gray: #9b9b9b;
// MT's color scheme

$accept: #e34b00;
$accept-border: #068808;
$ignore: #f73440;
$ignore-border: #c1262f;
$share: lightblue;
$follow: rgb(255, 191, 0);

$error-flash: #fa939a;
$notice-flash: #3bfc7a;
$notice-border: #29bb59;
