<h1>Trending Events</h1>

<% if @ideas.empty? %>
  <p>No events are created yet. Why don't you <%= link_to "create one", new_event_url %>?</p>
<% else %>
  <ul>
    <%= render partial: "layouts/short_idea", locals: { ideas: @ideas, idea_type: :event } %>
    <%= will_paginate @ideas %>
  </ul>
<% end %>
