<% email = logged_in? ? current_user.email : "" %>

<form action="<%= contacts_url %>" method="post">
  <fieldset>
    <%= form_auth_token %>
    <legend>Contact Us!</legend>

    <label for="contact_email" class="col-lg-2 control-label">E-mail</label>
    <input id="contact_email" type="text" name="contact[email]" class="form-control" value="<%= email %>" placeholder="e-mail">

    <label for="contact_message" class="col-lg-2 control-label">Message</label>
    <textarea id="contact_message" class="form-control" name="contact[message]" rows="3" id="suggestion_description" placeholder="write your message here"><%= @contact.message %></textarea>

    <button type="submit">Send Message!</button>
  </fieldset>
</form>
