.button {
  margin: 10px 5px;
  padding: 0 10px;
  font-family: $sans-serif;
  color: $white;
  border-radius: 5px;
  box-sizing: border-box;
  height: 35px;
  position: relative;

  // &:hover {
  //   top: 1px;
  // }
}

.accept-button {
  background-color: $accept;
}

.follow-button {
  background-color: $follow;
}

.ignore-button {
  background-color: $ignore;
  border-bottom: 2px solid $ignore-border;

  &:hover {
    border-bottom: 1px solid $ignore-border;
  }
}
