.button {
  padding: 0 10px;
  margin-right: 10px;
  font-family: $sans-serif;
  color: $white;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 35px;
  width: 100px;
  transition: background 0.5s;
}

.accept-button {
  background-color: $orange;

  &:hover {
    background-color: $orange-hover;
  }
}

.follow-button {
  background-color: $yellow;

  &:hover {
    background: $yellow-hover;
  }
}

.ignore-button {
  background-color: $red;

  &:hover {
    background: $red-hover;
  }
}

.disabled-button {
  background-color: $disabled;

  &:hover {
    cursor: auto;
    background: $disabled;
  }
}

.share-button {
  width: 50px;
  background: $sky-blue;

  i {
    font-size: 30px;
    margin-top: 2px;
  }

  &:hover {
    background: $sky-blue-hover;
    cursor: pointer;
  }
}

.idea-share-buttons {
  display: flex;
}
