.flash {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.error-flash {
  background: $error-flash;
  border: 2px solid $ignore-border;
}

.notice-flash {
  background: $notice-flash;
  border: 2px solid $notice-border;
}
