.form {
  width: 80%;
  max-width: 600px;
  margin: auto;
  font-family: $sans-serif;
  color: $black;
  padding-bottom: 20px;

  legend {
    color: $orange;
    font-size: 24px;
  }

  input[type='text'], input[type='password'], input[type='email'], select, textarea, .date-time > input {
    display: block;
    box-sizing: border-box;
  }

  input[type='text'], input[type='password'], input[type='email'], textarea, .date-time > input {
    padding: 5px;
    width: 100%;
    border: 1px solid $dark-gray;
    border-radius: 2px;
    margin: 5px 0;
    box-shadow: inset -1px -1px 4px 1px rgba(0, 0, 0, 0.25);

    &:focus {
      border: 1px solid $orange;
    }
  }

  input[type="submit"] {
    width: 100%;
    margin: 0;
    height: 40px;
    box-sizing: border-box;
  }

  .date-time > input, input[type='text'], input[type='password'], input[type='email'] {
    height: 40px;
  }

  select {
    border: 1px solid $dark-gray;
    border-radius: 2px;
    padding: 5px;
    height: 30px;
    font-size: 16px;

    &:focus {
      border: 1px solid $main;
      outline: none;
    }
  }

  .categories-label {
    color: $orange;
  }
}

textarea {
  height: 300px;
  resize: none;
}

.form-title {
  color: $orange;
  font-size: 36px;
  margin: 15px 0;
}

.other-session-link {
  font-family: $sans-serif;
  margin-left: 5%;
  margin-bottom: 10px;

  button {
    color: $faded-blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media all and (max-width: $break-point) {
  .idea {
    width: 90%;
  }

  .form {
    width: 90%;
  }

  input[type='date'], input[type='time'] {
    display: block;
  }

  textarea {
    height: 200px;
  }
}
