.idea {
  margin: 15px auto;
  width: 500px;
  font-family: $sans-serif;
}

.idea-title {
  font-size: 36px;
  color: $main;
}

.idea-info {
  font-size: 18px;
}

.idea-comments-header {
  color: $orange;
  margin: 15px 0;
  font-size: 20px;
}

@media all and (max-width: $break-point) {
  .idea {
    width: 90%;
  }
}
