.idea {
  margin: 15px auto;
  width: 80%;
  font-family: $sans-serif;
}

.idea-title {
  font-size: 36px;
  color: $main;
  margin: 5px 0;
}

.idea-info {
  font-size: 18px;
}

.idea-comments {
  color: $orange;
  margin: 15px 0;
  font-size: 20px;
}

@media all and (max-width: $break-point) {
  .idea {
    width: 90%;
  }
}
