.short-idea {
  border: 1px solid $dark-blue;
  width: 45%;
  margin: 15px;
  max-width: 900px;
  height: 350px;
  background: $short-idea-background;
  display: inline-block;
}

.short-idea-event {
  height: 350px;
}

.idea-list {
  margin: 5px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.short-idea-header {
  background-color: $dark-blue;
  font-family: $sans-serif;
  font-size: 18px;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  div {
    padding: 5px 10px;
  }

  h3, h4 {
    color: $white;
  }

  h4 {
    font-size: 14px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.short-idea-upvotes-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
  background: $faded-blue;
  height: 50px;
  box-sizing: border-box;
}

.upvote-buttons-container {
  padding: 10px;
  display: flex;
  align-items: center;
}

.short-idea-body {
  height: calc(100% - 50px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    font-weight: bold;
    font-family: $sans-serif;
    color: $black;
    display: block;
    padding: 8px 0;
  }
}

.short-idea-detail-container {
  padding: 10px 10px 0;
  border-bottom: 1px solid $dark-blue;
  height: 100%;
}

.event-logistics {
  display: flex;
  flex-wrap: wrap;

  .event-date-time {
    width: 50%;
  }

  .event-address-short-idea {
    width: 100%;
  }
}

.short-idea-categories {
  background-color: $light-gray;
  margin-right: 3px;
}

@media all and (max-width: 800px) {
  .short-idea {
    width: 90%;
    margin: 15px;
  }
}

@media all and (min-width: 800px) and (max-width: 1200px) {
  .short-idea {
    width: 80%;
    margin: 15px;
  }
}
