.short-idea {
  border: 1px solid $navy;
  width: 40%;
  margin: 15px 40px;
  // max-width: 900px;
  background: $short-idea-background;
  display: inline-block;
}

.idea-list {
  margin: 15px auto 0;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;
}

.short-idea-header {
  background-color: $navy;
  font-family: $sans-serif;
  font-size: 18px;
  color: $white;
  // padding: 3px 10px;
  display: flex;
  align-items: flex-end;

  h3, h4 {
    color: $white;
  }
}

.short-idea-upvotes-count {
  display: flex;
  flex-direction: column;
  float: right;
  background: $light-navy;
}

.upvote-buttons-container {
  border-top: 1px solid $navy;
  width: 100%;
  // padding-left: 10px;
  box-sizing: border-box;
}

.short-idea-body {
  // padding: 0 10px;
  // box-sizing: border-box;
  span {
    font-weight: bold;
    font-family: $sans-serif;
    color: $black;
    display: block;
  }
}

.short-idea-categories-wrapper {
  margin: 5px 0;
}

.short-idea-categories {
  background-color: $light-gray;
  padding: 0 5px;

  &:hover {
    background-color: $shiny-gray;
    text-decoration: underline;
  }
}

@media all and (max-width: 800px) {
  .short-idea {
    width: 90%;
    margin: 15px;
  }
}

@media all and (min-width: 800px) and (max-width: 1200px) {
  .short-idea {
    width: 80%;
    margin: 15px;
  }
}
