.options {
  display: flex;
  align-items: center;
}

.main-options {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  color: $main;
  border: 1px solid $main;

  &:first-child {
    margin-left: 10px;
  }
}

.main-selected {
  color: $white;
  background-color: $main;
}

.sub-options {
  color: $dark-gray;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
}

.sub-selected {
  color: $black;
  border: 1px solid $black;
  border-radius: 5px;
}

.create-options-container {
  color: $navy;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.create-options-link-container {
  width: 47.5%;
  font-family: $sans-serif;

  &:hover {
    p {
      background: $dark-blue-hover;
    }

    h4 {
      background: $orange-hover;
    }
  }
}

.create-options-link {
  display: flex;
  height: 80px;

  p {
    font-size: 14px;
    display: block;
    padding: 5px;
    background: $dark-blue;
    color: $white;
    transition: background 0.5s;
  }
}

.create-options {
  background: $orange;
  width: 100%;
  height: 100%;
  text-align: center;

  h4 {
    font-size: 18px;
    line-height: 80px;
    color: $white;
    transition: background 0.5s;
  }
}

.create-options-signin {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 18px;

  a {
    color: $sky-blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media all and (max-width: 600px) {
  // ADD DROPDOWN FOR BROWSING OPTIONS
}
