.options {
  display: flex;
  align-items: center;
}

.main-options {
  font-size: 16px;
  padding: 5px;
  width: 80px;
  color: $faded-blue;
  border: 1px solid $faded-blue;
  text-align: center;
  font-family: $sans-serif;
}

.main-selected {
  color: $white;
  background: $orange;
  border: 1px solid $orange;
}

.sub-options {
  color: $white;
  border: 1px solid $white;
  border-radius: 2px;
  width: 80px;
  text-align: center;
  margin: 5px 10px;
  padding: 5px;
  font-size: 16px;
  font-family: $sans-serif;
  transition: background 0.5s;

  &:hover {
    background: $faded-blue;
  }
}

.sub-selected {
  background: $faded-blue;
  border-radius: 2px;
}

.create-options-container {
  color: $navy;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.create-options-link-container {
  width: 47.5%;
  font-family: $sans-serif;

  &:hover {
    p {
      background: $dark-blue-hover;
    }

    h4 {
      background: $orange-hover;
    }
  }
}

.create-options-link {
  display: flex;
  height: 80px;

  p {
    font-size: 14px;
    display: block;
    padding: 5px;
    background: $dark-blue;
    color: $white;
    transition: background 0.5s;
  }
}

.create-options {
  background: $orange;
  width: 100%;
  height: 100%;
  text-align: center;

  h4 {
    font-size: 18px;
    line-height: 80px;
    color: $white;
    transition: background 0.5s;
  }
}

.create-options-signin {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 18px;

  button {
    color: $faded-blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

.options-container {
  background: $dark-blue;
  margin-top: 20px;
}

.user-profile-options {
  margin-top: -20px;
}

.options {
  width: 90%;
  margin: 0 auto;
  padding: 5px 0;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

.category-select {
  padding: 5px 0;
  height: 30px;
  border-radius: 2px;
  -webkit-border-radius: 2px;

  &:focus {
    outline: none;
  }
}

.options-toggle {
  width: 20%;
  display: flex;
}

.main-options {
  width: 50%;
}

.sub-options-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media all and (max-width: $intermediate-break-point) {
  .create-options-signin {
    h4 {
      font-size: 16px;
    }
  }

  #create-options-desc-one, #create-options-desc-two {
    display: none;
  }

  .create-options {
    height: 40px;

    h4 {
      line-height: 40px;
    }
  }

  .create-options-link {
    height: 100%;
  }

  .options {
    flex-direction: column;
    padding-bottom: 10px;
  }

  .options-toggle {
    width: 100%;
    padding: 10px 0;
  }

  .category-select {
    width: 100%;
    margin-bottom: 10px;
  }

  .sub-options-container {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .search-container {
    width: 100%;
  }

  .home-search {
    margin: 0;
    margin-top: 10px;
    width: calc(100% - 35px);
  }

  .sub-options {
    width: 25%;
    margin: 0;
  }
}
