<% message = idea_type == :event ? "events" : "actions" %>
<% action_url = idea_type == :event ? new_event_url : new_suggestion_url %>

<% if ideas.empty? %>
  <p>No <%= message %> are created yet in this category. Why don't you <%= link_to "create one", action_url %>?</p>
<% else %>
  <%= render partial: "layouts/short_idea", locals: { ideas: ideas, idea_type: idea_type } %>
<% end %>
