<% ideas = idea_type == :event ? category.events_by_creation : category.suggestions_by_creation %>

<% if ideas.empty? %>
  <p>No actions are created yet in this category. Why don't you <%= link_to "create one", new_suggestion_url %>?</p>
<% else %>
  <%= render partial: "layouts/short_idea", locals: { ideas: ideas, idea_type: :suggestion } %>
<% end %>
