<h1>Browse by Category</h1>
<% if admin? %>
  <%= link_to "Add Category", new_category_url %>
<% end %>

<ul>
  <% @categories.each do |category| %>
    <li><h4><%= link_to category.name, category_url(category) %></h4></li>
  <% end %>
</ul>
