<h1><%= @category.name %></h1>

<h3><%= link_to "Back to All Categories", categories_url %></h3>
<a href="#events">Down to Events</a>

<%= render "ideas", idea_type: :suggestion, category: @category %>

<p id="events"></p>
<%= render "ideas", idea_type: :event, category: @category %>
