<h1>Trending Actions</h1>

<% if @ideas.empty? %>
  <p>No actions are created yet. Why don't you <%= link_to "create one", new_suggestion_url %>?</p>
<% else %>
  <ul>
    <%= render partial: "layouts/short_idea", locals: { ideas: @ideas, idea_type: :suggestion } %>
    <%= will_paginate @ideas %>
  </ul>
<% end %>
